# Ignore SQLite database file
db.sqlite3

# Ignore static files
staticfiles/

# Ignore migration files (optional, consider only if they are not needed)
# todos/migrations/

# Ignore environment files (if you have any)
.env

